@import 'Colors.scss';

:root {
  font-family: 'Times New Roman', serif;
  line-height: 1.5;
  font-style: 150%;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);
}

#root {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.additional {
  color: var(--additional-text)
}