@import 'Colors.scss';

:root {
  font-family: 'Times New Roman', serif;
  line-height: 1.5;
  font-style: 150%;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: justify;
}

#root {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
}

.additional {
  color: var(--additional-text)
}

.no-italic {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}