.lr {
    max-width: 60ch;
    margin: 0 auto;

    &__number {
        color: var(--additional-text);
    }

    &__heading {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    &__sigla {
        text-align: right;
        justify-content: end;
        align-items: flex-end;
        color: var(--additional-text);

        &--hagio {
            text-align: center;
        }
    }

    &__heading_sigla {
        display: block;
        text-align: center;
    }

    &__title {
        text-align: center;
        font-size: 100%;
        color: var(--additional-text);
        font-style: italic;
    }

    &__name {
        text-align: left;
    }

    &__switch-reading {
        list-style: none;
        display: flex;
        padding: 0;



        li {
            flex-grow: 1;
            text-align: center;
            border: 1px solid var(--additional-text);
            border-collapse: collapse;
            color: var(--additional-text);
            padding: 5px;

            &:first-child {
                border-radius: 20px 0 0 20px;
            }

            &:last-child {
                border-radius: 0 20px 20px 0;
            }

            &.active {
                background-color: var(--additional-text);
                color: var(--bg-color);
            }
        }
    }

}