@import 'Colors.scss';

.psalm {
    display: inline-block;
    text-align: center;
    margin: auto;
    text-align: left;

    &__title {
        font-weight: bold;
        color: var(--additional-text);
        text-align: center;
    }

    &__subtitle {
        color: var(--additional-text);
        text-align: center;
    }

    &__numeration {
        color: var(--additional-text);
    }

    &__verse {
        max-width: 50ch;
        margin: 0 auto;
        font-style: italic;
        text-align: justify;
    }

    &__content {
        white-space: pre-line;
    }
}