.lr {
    margin: 0 auto;

    &__heading {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    &__sigla {
        text-align: right;
        justify-content: end;
        align-items: flex-end;
        color: var(--additional-text);

        &--hagio {
            text-align: center;
        }
    }

    &__heading_sigla {
        display: block;
        text-align: center;
    }

    &__title {
        text-align: center;
        font-size: 100%;
        color: var(--additional-text);
        font-style: italic;
    }

    &__name {
        text-align: left;
    }

    &__switch-reading {

        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 5px;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid var(--additional-text);
            color: var(--additional-text);
            padding: 5px;

            &.active {
                background-color: var(--additional-text);
                color: var(--bg-color);
            }
        }
    }

}